<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>

      <%- include('includes/messages') %>

      <% if(contatos.length > 0) { %>
      <div class="responsive-table">
        <table class="table my-3 table-responsive">
          <% contatos.forEach(contato => { %>
          <tr>
            <td><%= contato.nome %></td>
            <td><%= contato.sobrenome %></td>
            <td><%= contato.telefone %></td>
            <td><%= contato.email %></td>
            <td><a href="/contato/index/<%= contato._id %>">Editar</a></td>
            <td>
              <form action="/contato/delete/<%= contato._id %>" method="POST">
                <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </table>
      </div>
      <% } else { %>
        <p class="text-center lead">Não existem contatos na sua agenda.</p>
      <% } %>

    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>

<!-- Optional JavaScript -->
<!-- Bootstrap 5 JS Bundle (inclui Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-X4VxthVf6EImL5vgoMeSRJzPB2wJDwOUDoWBrM1FDOhwiJybkYg0czS/tAIWQAVz" 
    crossorigin="anonymous">
</script>
